COMPOSE_FILE=docker-compose.dev.yml

# Server Configuration
SERVER_URL=http://localhost:8080
SERVER_PORT=8080

# Database Configuration
DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://postgres:YOUR_DATABASE_PASSWORD@evolution-postgres:5432/evolution?schema=public
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true

# PostgreSQL Configuration
DATABASE_USER=postgres
DATABASE_PASSWORD=YOUR_DATABASE_PASSWORD

# Redis Configuration
REDIS_ENABLED=true
REDIS_URI=redis://evolution-redis:6379
REDIS_PREFIX_KEY=evolution
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://evolution-redis:6379

# Authentication
AUTHENTICATION_TYPE=apikey
AUTHENTICATION_API_KEY=YOUR_SECURE_RANDOM_API_KEY
AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES=true

# Instances
DEL_INSTANCE=false
DEL_TEMP_INSTANCES=true

# QR Code
QRCODE_LIMIT=30
QRCODE_COLOR=#198754

# Webhook
WEBHOOK_GLOBAL_ENABLED=false
WEBHOOK_GLOBAL_URL=
WEBHOOK_GLOBAL_WEBHOOK_BY_EVENTS=false

# Chatwoot
CHATWOOT_ENABLED=false

# RabbitMQ
RABBITMQ_ENABLED=false

# SQS
SQS_ENABLED=false

# Websocket
WEBSOCKET_ENABLED=false

# Log
LOG_LEVEL=ERROR
LOG_COLOR=true
LOG_BAILEYS=error
